.section {
  padding: 0 220px;
  margin-top: 24px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    max-width: 1160px;

    .title {
      margin: 0;
      font-weight: 700;
      font-size: 26px;
      line-height: 135%;
      color: #0f0f10;
    }
    .secondary {
      margin: 0;
      margin-top: 4px;
      font-weight: 500;
      font-size: 20px;
      line-height: 135%;
      color: rgba(15, 15, 16, 0.5);
    }
    .inputs {
      display: flex;
      align-items: center;
      gap: 12px;

      .search {
        width: 403px;
        height: 42px;
      }
      .input {
        font-family: "Open Sans", sans-serif;
        background: none;
        border-color: rgba(15, 15, 16, 0.2);
        --input-placeholder-color: rgba(15, 15, 16, 0.3);
        font-weight: 400;
        font-size: 16px;
        line-height: 250%;
      }
      .label {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 250%;
        color: #fff;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1160px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
