.header {
  background-color: #fff;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 22px 0 rgba(28, 29, 31, 0.05);

  .left {
    position: absolute;
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    left: 20px;
    top: 14.5px;

    .title {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 155%;
      color: #000;
    }
  }
  .text {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    .active {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 155%;
      color: #000;
      transition: color 0.2s ease-out;

      &:hover {
        color: rgba(15, 15, 16, 0.5);
      }
    }
    .inactive {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 155%;
      color: rgba(15, 15, 16, 0.5);
      transition: color 0.2s ease-out;

      &:hover {
        color: #000;
      }
    }
  }
}
